*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: #ffffff;
}
.navbar ul li{
    list-style: none;

    
}
.logo{
    margin:15px 60px ;
    cursor: pointer;
}
.navbar ul{
    display: flex;
    gap:10em;

}

.navbar ul li a{
    text-decoration: none;
    color: #24262b;
    text-transform: uppercase;
    position: relative;

}
.navbar ul li a::after{
    content:'';
    height:3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
}
.navbar ul li a:hover::after{
    width: 100%;
}


.slotus .button{
    margin-right: 60px;
    text-decoration: none;
    float: right;
    position: relative; 
    padding:7px 11px;
    text-align: center;
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    /* background: transparent; */
    color:rgb(0, 0, 0);
    cursor:pointer;
    transform: 1s;
    

}
.slotus .button:hover{
    color:white;
    background: #24262b;
}
.content{
    margin-top: 10px;
    position: relative;
}

.content .container{
    width: 100%;
    padding: 0 0;
}

.content .text p1{
    
    font-size: 100px;
    height:fit-content;
    color: rgb(0, 0, 0);
    position: absolute;
    top:350px;
    left:270px;
    
}
.content .text p2{
    font-size: 100px;
    height:fit-content;
    color: rgb(0, 0, 0);
    position: absolute;
    top:450px;
    left:200px;

}


.product{
    margin: 30px 0;
}

.product .col-lg-6{
    margin: 30px 0;
}
.product .col-lg-12{
    background-color: white;
    
}
.item{
    background-color: white;
    border-radius: 10px;
    border: 2px solid #24262b;
    padding: 1em;
    /* box-shadow: 0px 10px 5px #b2bec3; */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    
   
}
.item .title{
    font-size: 24px;
    font-weight:bold;
    padding: 7px 0px;
}
.item img{
    padding: 7px 0px;
    cursor: pointer;
    height:200px;
    width:250px;
    object-fit: cover;
    filter: drop-shadow(0 3px 5px rgba(0,0,0,0.7));
    transition: 0.5s;
}


.item img:hover{
    width: 75%;
}
.item .price{
    font-weight: bolder;
    font-size: 24px;
}
.item .text{
    text-align: left;
    margin-left: 2em;
    margin-bottom: 0.5em;
    font-size: 20px;
}
.item .star{
    transform: translate(-15%, -25%);
    margin-top: auto;
}

.item input{
    display: none;
}
.rating label{
    margin-top: auto;
    float:right;
    font-size: 50px;
    color:lightgray;
    margin:0 5px;
    text-shadow: 1px 1px #bbb;
}

.rating label:before{
    
    content: '★';
}
.rating input:checked ~ label{
    color:gold;
    text-shadow: 1px 1px #c60;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label{
    color:gold;
}
.rating input:checked > label:hover,
.rating input:checked > label:hover ~ label{
    color:gold;
    text-shadow: 1px 1px goldenrod;
    
}
.rating .result:before{
    position: absolute;
    content: "";
    width: 100%;
    bottom:-15px;
    left:15%;
    font-size: 16px;
    font-weight: 600;
    color: gold;
    display: none;
  }
  .rating input:checked ~ .result:before{
    display:block ;
  }
  .rating #five1:checked ~ .result:before{
    content: "I love it ";
  }
  .rating #four1:checked ~ .result:before{
    content: "I like it ";
  }
  .rating #three1:checked ~ .result:before{
    content: "It's good ";
  }
  .rating #two1:checked ~ .result:before{
    content: "I don't like it ";
  }
  .rating #one1:checked ~ .result:before{
    content: "I hate it ";
  }


  .rating #five2:checked ~ .result:before{
    content: "I love it ";
  }
  .rating #four2:checked ~ .result:before{
    content: "I like it ";
  }
  .rating #three2:checked ~ .result:before{
    content: "It's good ";
  }
  .rating #two2:checked ~ .result:before{
    content: "I don't like it ";
  }
  .rating #one2:checked ~ .result:before{
    content: "I hate it ";
  }

  .rating #five3:checked ~ .result:before{
    content: "I love it ";
  }
  .rating #four3:checked ~ .result:before{
    content: "I like it ";
  }
  .rating #three3:checked ~ .result:before{
    content: "It's good ";
  }
  .rating #two3:checked ~ .result:before{
    content: "I don't like it ";
  }
  .rating #one3:checked ~ .result:before{
    content: "I hate it ";
  }
.Buy-button{
    color: #24262b;
    /* background-color: gray; */
    border:none;
    padding:1em;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    margin-top: auto;
    text-decoration: none;
    border: 2px solid #24262b;
}
.Buy-button:hover{
    color:white;
    background: #24262b;
    box-shadow: 0px 5px 5px #b2bec3;

}
 
.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}


.footer {
   background-color: #24262b;
}
.footer .container{
    padding: 60px 0;
}

.footer .col-lg-3{
    width: 25%;
    padding: 0 15px;
 }
.footer .col-lg-3 h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
    margin-left: 30px;
	font-weight: 500;
    position: relative;
}
.footer .col-lg-3 h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffffff;
	height: 2px;
	width: 50px;
}

.footer .col-lg-3 ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer .col-lg-3 ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	transition: all 0.3s ease;

}

.footer .col-lg-3 ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer .col-lg-3 .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
    text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer .col-lg-3 .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}



@media(max-width: 767px){
    .footer .col-lg-3{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer .col-lg-3{
      width: 100%;
  }
  }